<app-toolbar></app-toolbar>
<div style="height: 100%; width: 100%;">
    <div class="greeting1">
        <img src="assets\greeting1.jpg" style="height: 15rem; width: 15rem;" />
    </div>
    <div class="message">
        <span style="color:rgba(0, 48, 46, 1)">Commande </span>
        <span style="color: rgb(219, 157, 0);">&nbsp; passée</span>
        <span style="color: rgba(0, 48, 46, 1)">&nbsp; avec succès</span>
    </div>
    <div class="greeting2" style="margin-top: 10px;">
        <span>Votre commande est confirmée.</span>
    </div>
    <div class="greeting2">
        <span>Merci de consulter votre boîte mail</span>
    </div>
    <div class="greeting2">
        <span> Pour plus d'informations...</span>
    </div>
    <div class="contact-heading"><span>Contactez-nous</span></div>
    <div class="contactus">
        <div class="card">
            <mat-card class="email">
                <mat-card-title style="display: flex; justify-content: center; align-items: center; background-color: rgb(248, 195, 191);">Envoyez-nous un email</mat-card-title>
                <mat-card-content style="display: flex; justify-content: center; align-items: center;">faiza4elgharsi@gmail.com</mat-card-content>
            </mat-card>
        </div>
        <div class="card">
            <mat-card>
                <mat-card-title style="  display: flex;  justify-content: center;  align-items: center;background-color: rgb(248, 195, 191); ">Contact-nous</mat-card-title>
                <mat-card-content style="display: flex; justify-content: center; align-items: center;">0648553069</mat-card-content>
            </mat-card>
        </div>
        <div class="card">
            <mat-card>
                <mat-card-title style="  display: flex;  justify-content: center;  align-items: center;  background-color: rgb(248, 195, 191);    ">Adresse</mat-card-title>
                <mat-card-content style="display: flex; justify-content: center; align-items: center;">Ecole Mohammadia d'Ingénieurs</mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
