

<section id="chefs_visiteur">
<br> 
 <div class="divider"></div>
  <div class="heading">
    <h2 >👩🏼‍🍳Nos chefs👩🏼‍🍳</h2>
   <span> <small><em><strong>  La Cuisine, c’est l’envers du décor, là où s’activent les hommes et femmes pour le plaisir des autres.</strong></em></small></span>
  </div>


 
  

  

<div class="container-fluid">
  <!--
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let chef of chefs"->
    <ng-template ngbSlide >
      <div class="wrapper">

        <!-<p><span style="color:black; text-transform:capitalize; font-size:35px;margin-left:480px;margin-top:170px;  "> 🍴 {{ chef.nom }}  {{ chef.prenom }} 🍴 </span></p>->
        <p><span style="color:black; text-transform:capitalize; font-size:35px;margin-left:480px;margin-top:170px;  "> 🍴 Boukhari  Khadija 🍴 </span></p>
        <img src="assets/chefs_images/femme8.jpg" 
        
        class="img-fluid d-block rounded-circle"
        
        style="width:350px;
        ; height:500px;
        margin:auto;"
        >


        
      </div>

     
      <div class="carousel-caption">
       
      
         
      
      
      </div> 
    </ng-template>
  </ngb-carousel>-->
      
  </div>

 <br/>
</section>