.carousel-indicators {  
  
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0; 
    margin-right: $carousel-control-width;
    margin-left: $carousel-control-width;
    list-style: none;
    }