
<section>
   
   
  <br>
   
    <h1 style="
 font-family: Ink Free;
 font-size: 60px;
 font-weight: 400;
 line-height: 33px;

 padding-top: 70px;
 color:#00302E;
 text-align:center;

 text-decoration-color: #00302E;">
 🎊Chef De La Semaine🎊</h1>

 
<!-- padding-left:400px;-->
     <div>
         <!--<tr *ngFor="let chef of chefs">-->
           
         <!--<ng-container *ngIf="chef.chefDeSemaine == true">-->
        <ng-container >

             

     
             <div class="row " >

                 <div class="col-xs-6 float-right" style="font-size:25px;  font-family:cursive; text-align:center;padding-left:470px;width: 980px;padding-top:50px;">  
                 <br/>
               
                   <!--  <strong><em>{{chef.nom}}  {{chef.prenom}}</em></strong> est le chef cuisinier le plus étoilé cette semaine,sa ville d'origine  est {{chef.origine}}. Sa spécialité principale est <i>{{chef.specialite}}</i>.-->
                    
                     <strong><em>Alaoui Halima</em></strong><br><br> 
                       est la cheffe cuisinière la plus étoilée cette semaine.<br><br>Sa ville d'origine  est Tiznite.<br><br>
                       Sa spécialité  est <i>Desserts et pâtisseries</i>.
                 </div>


                   <div class="col-xs-6">
                     <img src="assets/chefs_images/femme2.jpg" style="height:350px; margin-left:120px;margin-top:-260px"  class="rounded-circle float-right"/>
               
               
                 </div>
                
             </div>

         </ng-container>
         
     </div>
 <br>
</section>
 
   
 
 
 
 
 