/*adminCondidature*/
#adminCondidature{
  background-color: rgba(0, 48, 46, 1);
  padding: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.admin {
  padding-bottom: 30px;
  background: #fff;
  padding: 50px;
  border-radius: 10px;
}
