<div style="width: 100%;" style="height: 11%;">
    <app-toolbar flexLayout="row"></app-toolbar>
</div>
<div role="combobox" flex="column" class="display">
    <mat-card class="matcard2" fxLayout="row">
        <div class="cartdetails" fxLayout="row" fxLayoutAlign="start stretch" style="margin-left: 2%;">
            <mat-card class="bookMatcard" fxLayoutAlign="center fit-content">
                <div class="image">
                    <img class="bookimg" src="assets\platimage\{{plat.image}}" />
                </div>
            </mat-card>
            <div class="bookdetails">
                <div class="booktitle" style="word-wrap: break-word; margin-bottom: 2%; font-size: 20px;">
                    <Strong>{{plat.bookName}}</Strong>
                </div>

                <div class="sub" style="word-wrap: break-word; margin-bottom: 4%;">
                    Préparé par {{ plat.Chefname }}
                </div>
                <div style="margin-bottom: 4%; font-size: 18px; margin-left: -25px;">
                    <Strong>{{ plat.price }} DHS</Strong>
                </div>
                <!--<div style="margin-bottom: 5%; font-size: 14px; margin-left: -25px;">
                    <strong>Seller:</strong>{{ " Dwayne Johnson" }}
                </div>-->
                <div fxLayout="row" fxLayoutAlign="spacearound stretch" style="margin-bottom: 5%; margin-left: -25px;" fxLayoutGap="35%">
                    <button class="total" fxLayout="row" style="
                font-size: 14px;
                text-align: center;
                padding-top: 9px;
                height: 40px;
                margin-bottom: 5px;
                width: fit-content !important;
                padding-right: 1px;
                border-radius: 3px;
                color: white;
              " [ngStyle]="{ 'background-color': color }">
              <div>
                {{ totalRate  }}
              </div>
              <mat-icon style="font-size: 14px; padding-top: 1.8px;">
                star
              </mat-icon>
            </button>
                    <button mat-button class="rating" (click)="rateNow(this)" style="color: #0a0102; background-color: rgb(188, 201, 188);">
              <strong >Evaluez maintenant</strong>
            </button> 
                </div>
                <div fxLayout="row wrap">
                    <div fxLayout="row" style="margin-bottom: 5%;">
                        <div style="font-size: 18px; margin-left: -25px;">
                            <strong>Description:</strong>
                        </div>
                        <div style="
                  margin-left: 6px;
                  color: #9d9d9d !important;
                  margin-top: 2px;
                ">
                            {{plat.platDescription}}
                        </div>
                    </div>
                    <div fxLayout="row" style="margin-left: -25px;">
                        <button *ngIf="!isAdded; else added" mat-button class="add" (click)="addToCart(plat.platId)">
                Ajouter au panier
              </button>
                        <ng-template #added>
                            <button mat-button class="add" style="color: rgba(246, 183, 22, 1); background-color: rgba(0, 48, 46, 1);">
                Produit ajouté
                </button>
                        </ng-template>
                        <!--<button mat-button *ngIf="!isListed" class="add" (click)="addToWishlist()" style="color: #0a0102; background-color: white;">
                WISHLIST
              </button>-->
                        <!-- <button mat-button class="add" style="color: white; background-color: #3371b5;">
                IN WISHLIST
              </button> -->
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="matcard2">
        <div fxLayout="column" style="margin-left: 2%; margin-right: 2%;">
            <div style="font-size: 20px;">
                <strong>Evaluations & Avis</strong>
            </div>
            <div *ngFor="let review of reviewList">
                <div fxLayout="row" style="margin-top: 4%;">
                    <div>
                        <button class="single" fxLayout="row" style="
                  font-size: 14px;
                  text-align: center;
                  padding-top: 0px;
                  height: 20px;
                  width: fit-content !important;
                  padding-right: 1px;
                  border-radius: 3px;
                  color: white;
                  background-color: rgb(16, 136, 16);
                ">
                <div>
                  {{ review.rating }}
                </div>
                <mat-icon style="font-size: 14px; padding-top: 1.8px;">
                  star
                </mat-icon>
              </button>
                    </div>
                    <div style="margin-left: 20px;">
                        <strong>{{ review.name }}</strong>
                    </div>
                </div>
                <div>{{ review.review }}</div>
            </div>
            <div>
                <label *ngIf="totalRate == 0" class="total" style="color: black; background-color: white;">
                    Les clients ayant acheté ce produit n'ont pas encore émis d'avis.
          </label>
            </div>
        </div>
    </mat-card>

    <div class="container">
        <div fxLayout="column" style="margin-left: 2%; margin-right: 2%; margin-top: 5%; ">
            <div style="font-size: 20px;"><strong>Recommendations</strong>
            </div>
        </div>

    <div class="list-books">

        <div *ngFor="let plat of platsRecommende">

            <mat-card style="height: 22.5em; width: 220px;  margin-right: 20px; margin-top: 20px;" class="tooltip1">

                <mat-card-title matTooltip="Book Image" (click)="Deatails(plat.platId)">
                    <img src="assets\platimage\{{plat.image}}" style="height: 150px; width: 90px;margin-left: 55px; margin-right: 55px; padding-top: 20px; padding-bottom: 20px; " />
                </mat-card-title>

                <mat-card-content style="width: 16em; ">

                    <div class="out-of-stock " *ngIf="!plat.noOfPlats ">En rupture de stock</div>
                    <div class="bookname ">{{ plat.platName }}</div>


                    <div class="authorname ">Par {{ plat.chefName }}</div>
                    <div class="price ">Prix: {{ plat.price }} DH</div>
                    <div class="availablity " style="color: rgb(163, 43, 6); " *ngIf="plat.noOfPlats < 5 && plat.noOfPlats; else elsecondition ">
                        Il ne reste que {{ plat.noOfPlats }} dépêchez-vous !!
                    </div>


                    <ng-template #elsecondition>
                        <div class="availablity " style="color: rgb(2, 110, 2); " *ngIf="plat.noOfPlats ">
                            Plats disponibles: {{ plat.noOfPlats }}
                        </div>
                        <div style="height: 26px; " *ngIf="!plat.noOfPlats "></div>
                    </ng-template>



                   <!--boutons "Ajouter au panier" et "ajouter aux favoris"--> 


                    <div class="cart-buttons " *ngIf="plat.noOfPlats && value[plat.platId] !=plat.platId ">

                        <!--ajouter au panier-->
                        <div>
                            <button class="addtobag " (output)="getUpdatedNotes($event)" (click)="addtobag(plat.platId)" #clickState mat-button>Ajouter au panier</button>
                        </div>

                    </div>


                    <!--le bouton "Ajouté au panier"-->
                    <div class="addedbtn " *ngIf="plat.noOfPlats && value[plat.platId]==plat.platId ">
                        <button  mat-button>Ajouté au Panier </button>
                    </div>


                </mat-card-content>
            </mat-card>
        </div>


    </div>
    
</div>
<div class="foot" style="top: 720px; margin-top: 5%; margin-right: 0;">
    <app-footer></app-footer>
</div>
