
<section id="plats">
  <div class="container">
    <br>
    <div class="divider"></div>
    <div class="heading">
        <h2>Nos plats</h2>
    </div>
    <div class="titre">
    <div class="row">
        <div class="col-md-4">
            <a href="plats">
                <img src="/assets/img/Entrées.jpg" class="img-thumbnail" alt="facebook share">
            </a>
            <a href="plats">
              <p class="titre">Entrées</p>
          </a>
        </div>
        <div class="col-md-4">
            <a href="plats">
                <img src="/assets/img/platPrincipale.jpg" class="img-thumbnail" alt="google translate">
            </a>
            <a href="plats">
              <p class="titre">Plats principaux</p>
          </a>
        </div>
        <div class="col-md-4">
            <a href="plats">
                <img src="/assets/img/chebakia.jpg" class="img-thumbnail" alt="twitter video">
            </a>
            <a href="plats">
              <p class="titre">Desserts et pâtisseries</p>
          </a>
        </div>
    </div>
    </div>
  </div>
  </section>
