<div class="container">
    <div style="background-color: #0c4409; width: 100%; margin-bottom: 10px;">
        <h2 style="color: white; text-align: center;padding-top: 10px;">Mes infos</h2>
    </div>
    <br>
    <form style="display: flex; flex-direction: column;margin-bottom: 0px;">

          <mat-form-field appearance="outline" style="margin-bottom: -1.25em;" class="example-full-width2" >
              <mat-label>Nom complet</mat-label>      
              <input type="name" id="name" matInput placeholder="name"  [formControl]="name"  [(ngModel)]="data.name"  autocomplete="off" required>
              <mat-icon matSuffix style="color: grey;">person</mat-icon>
          </mat-form-field>
         
          <mat-form-field appearance="outline" style="margin-bottom: -1.25em;" class="example-full-width2">
              <mat-label >email</mat-label> 
              <input type="text" id="email" matInput placeholder="email" [(ngModel)]="data.email" [formControl]="email" readonly>
              <mat-icon matSuffix style="color: grey;"></mat-icon>  
          </mat-form-field>

          <mat-form-field appearance="outline"  style="margin-bottom: -1.25em;"class="example-full-width5">
            <mat-label>Password</mat-label>
            <input type="text" id="password" matInput [type]="hide ? 'password' : 'text'" matInput placeholder="Mot de passe" [(ngModel)]="data.password" [formControl]="password" autocomplete="off" required>
            <button matSuffix style="color: grey;"(click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon style="color: #e1e4e4;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field> 
          <mat-form-field appearance="outline" style="width: 220px; padding-left: 6px;">
            <mat-label>Confirmez votre mot de passe</mat-label>
            <mat-error required>Mot de passe non conforme</mat-error>
            <input type="text" id="password" matInput [type]="hide ? 'password' : 'text'" matInput placeholder="confirmer le mot de passe" [(ngModel)]="data.password" [formControl]="password" autocomplete="off" required>
            <button matSuffix style="color: grey;"(click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon style="color: #e1e4e4;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
          <mat-form-field appearance="outline"  class="example-full-width5">
              <mat-label>Mobile number</mat-label>
              <input type="tel" id="mobileNumber"  matInput placeholder="Enter your book details" [(ngModel)]="data.mobileNumber" [formControl]="mobileNumber" autocomplete="off" required>
              <mat-icon matSuffix style="color: grey;">edit</mat-icon>
          </mat-form-field>
          <!-- <div >
            <input type="file" mat-button [disabled]="!data.password" name="image" (change)="onSelectedImage($event)" />
        </div> -->
    </form>

    <div class="submit">
        <button  id="submit"  (click)="updateUser()">METTRE A JOUR </button>
    </div>
</div>
