<div class="main-container">


    <div class="container">

                          <!--liste des plats-->
        <div class="list-books">




            <div *ngFor=" let book of orderdetails | platsearchpipe:platSearch">


                              <!--Affichage des commandes pour l'admin-->

            <!----danger

                <div *ngIf="isAdmin">

                   // description du plat (tooltip)
                    <mat-card  style="display: flex;flex-direction: row;  padding: 1rem;" matTooltip="{{ book.platDescription }}">

                    //image du plat
                    <div>
                        <mat-card-title style="padding: 1rem;"  matTooltip="Update Image">
                            <img src="assets\{{book.image}}" style="height: 13rem; width: 10rem; padding: 16px 0px 16px 16px ;" />
                        </mat-card-title>
                    </div>



                    
                    <div style="width: 20rem;">

                        <mat-card-content style="display: flex;flex-direction: column;flex-wrap: nowrap;width: auto; margin-top: 10px; margin-bottom: 0px;">

                           //Infos de la commande
                            <div class="noofbooks">No De Commande : {{ book.orderId }}</div> 

                            <div class="bookname">Nom De Plat : {{ book.platName }}</div>  
                            <div class="authorname">Nom de Chef : {{ book.chefName }}</div>  
                            <div class="description">Description : {{ book.platDescription }}</div>
                            <div class="description">Quantity of book : {{ book.quantityOfPlat}}</div> 
                            <div class="price">Total Price : {{book.totalprice+"DH"}}</div>      
                            <div class="status" >Order Status : <label style="color: green;">{{ book.orderStatus }}</label> </div>   



                          

                            <div style="display: flex; justify-content: flex-start; margin-left: 20px;">


                             
                                <bouton a l'admin : "Modifier la commande" est masqué || désactivé   
                                <div *ngIf="isAdmin">
                                    <button id="updateOrderStatusBtn" [disabled]="book.orderStatus === 'in shipment' || book.orderStatus === 'delivered' || book.orderStatus === 'in progress'"
                                    [hidden]="book.orderStatus === 'in shipment' || book.orderStatus === 'delivered' || book.orderStatus === 'in progress'" style="width: 8rem; margin-left: 0px; margin-top:auto; color: white; outline: none; border-radius: 0px; background-color: rgba(0, 48, 46, 1);"  (click)="updateOrderAdmin(book.orderId,'in progress')"  mat-button>
                                     Update-Order
                                      </button>
                                </div>






                            </div>
                        
                        


                        </mat-card-content>
                    </div>





                    </mat-card>


                


                </div>

            -->



                 <!---Seller avec    condition : *ngIf="book.orderStatus !='delivered' && book.orderStatus !='pending' "-->
            
                <div *ngIf="isSeller">

                <mat-card *ngIf="book.orderStatus !='delivered' && book.orderStatus !='pending' " style="display: flex;flex-direction: row;  padding: 1rem;" matTooltip="{{ book.platDescription }}">




                    <div>
                        <mat-card-title style="padding: 1rem;"  matTooltip="Update Image">
                            <img src="assets\{{book.image}}" style="height: 13rem; width: 10rem; padding: 16px 0px 16px 16px ;" />
                        </mat-card-title>
                    </div>


                    <div style="width: 20rem;">
                        <mat-card-content style="display: flex;flex-direction: column;flex-wrap: nowrap;width: auto; margin-top: 10px; margin-bottom: 0px;">

                            <div class="noofbooks">Order Number : {{ book.orderId }}</div>
                            <div class="bookname">Nom De PLat: {{ book.platName }}</div>
                            <div class="authorname">Nom du chef : {{ book.chefName}}</div>
                            <div class="description">Description : {{ book.platDescription }}</div>
                            <div class="description">Quantity of book : {{ book.quantityOfBook }}</div>
                            <div class="price">Total Price : {{book.totalprice+"DHS"}}</div>

                            <div class="status" >Order Status : <label style="color: green;">{{ book.orderStatus }}</label> </div>

                            <div style="display: flex; justify-content: flex-start; margin-left: 20px;">



                                 
                                <div *ngIf="book.orderStatus != 'delivered'" > <!--si la commande n'est pas délivrée-->
                                    <mat-form-field>
                                        <mat-label>Update Order Status</mat-label>  <!--Alors le seller a la possibilté de changer l'état de la commande-->
                                        <mat-select disableRipple>


                                            <!-- En route || Livrée  ==>En route  -->
                                          <mat-option [disabled]="book.orderStatus === 'in shipment' || book.orderStatus === 'delivered'" (click)="updateOrderSeller(book.orderId,'in shipment')" >In Shipment</mat-option>

                                            <!--En progrès || Livrée ==> Livrée-->
                                           <mat-option [disabled]="book.orderStatus === 'in progress' || book.orderStatus === 'delivered'  " (click)="updateOrderSeller(book.orderId,'delivered')">Delivered</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>




                            </div>
                            
                        </mat-card-content>
                    </div>
                </mat-card>






            </div>

      







        </div> <!--list-books-->



    </div> <!--container-->



</div> <!--main-container-->
