<app-toolbar></app-toolbar>
<div class="main-container">


    <div class="container">

                          <!--liste des plats-->
        <div class="list-books">




            <div *ngFor=" let plat of orderdetails | platsearchpipe:platSearch">


                              <!--Affichage des commandes pour l'admin-->

                <div *ngIf="isSeller">

                    <mat-card  style="display: flex;flex-direction: row;  padding: 1rem;" matTooltip="{{ plat.platDescription }}">

                    <div>
                        <mat-card-title style="padding: 1rem;"  matTooltip="Update Image">
                            <img src="assets\{{plat.image}}" style="height: 13rem; width: 10rem; padding: 16px 0px 16px 16px ;" />
                        </mat-card-title>
                    </div>



                    
                    <div style="width: 20rem;">

                        <mat-card-content style="display: flex;flex-direction: column;flex-wrap: nowrap;width: auto; margin-top: 10px; margin-bottom: 0px;">

                            <div class="noofbooks">No De Commande : {{ plat.orderId }}</div> 

                            <div class="bookname">Nom De Plat : {{ plat.platName }}</div>  
                            <div class="authorname">Nom de Chef : {{ plat.chefName }}</div>  
                            <div class="description">Description : {{ plat.platDescription }}</div>
                            <div class="description">Quantité : {{ plat.quantityOfPlat}}</div> 
                            <div class="price">Prix total : {{plat.totalprice+"DH"}}</div>      
                            <div class="status" >Etat commande : <label style="color: green;">{{ plat.orderStatus }}</label> </div>   



                          

                            <div style="display: flex; justify-content: flex-start; margin-left: 20px;">


                             
                                <div *ngIf="isSeller">
                                    <div style="display: flex; justify-content: flex-start; margin-left: 20px;">



                                 
                                        <div *ngIf="plat.orderStatus != 'Livré'" > 
                                            <mat-form-field>
                                                <mat-label>Mise à jour de l'état</mat-label>  
                                                <mat-select disableRipple>
        
        
                                                  <mat-option [disabled]="plat.orderStatus === 'En cours de livraison' || plat.orderStatus === 'Livré'" (click)="updateOrderSeller(plat.orderId,'En cours de livraison')" >En cours de livraison</mat-option>
        
                                                   <mat-option [disabled]="plat.orderStatus === 'En cours de préparation' || plat.orderStatus === 'Livré'  " (click)="updateOrderSeller(plat.orderId,'Livré')">Livré</mat-option>
        
                                                
                                                
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
        
        
        
        
                                    </div>
                                </div>






                            </div>
                        
                        


                        </mat-card-content>
                    </div>





                    </mat-card>


                


                </div>
            </div>





                 <!---Seller avec    condition : *ngIf="book.orderStatus !='delivered' && book.orderStatus !='pending' "-->
            <!--
                <div *ngIf="isSeller">

                <mat-card *ngIf="book.orderStatus !='delivered' && book.orderStatus !='pending' " style="display: flex;flex-direction: row;  padding: 1rem;" matTooltip="{{ book.platDescription }}">




                    <div>
                        <mat-card-title style="padding: 1rem;"  matTooltip="Update Image">
                            <img src="assets\{{book.image}}" style="height: 13rem; width: 10rem; padding: 16px 0px 16px 16px ;" />
                        </mat-card-title>
                    </div>


                    <div style="width: 20rem;">
                        <mat-card-content style="display: flex;flex-direction: column;flex-wrap: nowrap;width: auto; margin-top: 10px; margin-bottom: 0px;">

                            <div class="noofbooks">Order Number : {{ book.orderId }}</div>
                            <div class="bookname">Nom De PLat: {{ book.platName }}</div>
                            <div class="authorname">Nom du chef : {{ book.chefName}}</div>
                            <div class="description">Description : {{ book.platDescription }}</div>
                            <div class="description">Quantity of book : {{ book.quantityOfBook }}</div>
                            <div class="price">Total Price : {{book.totalprice+"DHS"}}</div>

                            <div class="status" >Order Status : <label style="color: green;">{{ book.orderStatus }}</label> </div>

                            <div style="display: flex; justify-content: flex-start; margin-left: 20px;">



                                 
                                <div *ngIf="book.orderStatus != 'delivered'" > 
                                    <mat-form-field>
                                        <mat-label>Update Order Status</mat-label>  
                                        <mat-select disableRipple>


                                          <mat-option [disabled]="book.orderStatus === 'in shipment' || book.orderStatus === 'delivered'" (click)="updateOrderSeller(book.orderId,'in shipment')" >In Shipment</mat-option>

                                           <mat-option [disabled]="book.orderStatus === 'in progress' || book.orderStatus === 'delivered'  " (click)="updateOrderSeller(book.orderId,'delivered')">Delivered</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>




                            </div>
                            
                        </mat-card-content>
                    </div>
                </mat-card>






            </div>-->

      







        </div> <!--list-books-->



    </div> <!--container-->



</div> <!--main-container-->
